{% extends "tmpl/base.twig" %}

{% block md %}
    <title>Login - GangsterClub.com</title>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="cache/tailwind.css" />
    <link rel="stylesheet" href="css/languageDropdown.css" />
    <link rel="stylesheet" href="css/login.css" />
{% endblock %}

{% block content %}
    <div class="language-dropdown" tab-index="0">
        <button id="language-dropdown-btn"></button>
        <ul class="language-dropdown-content" id="language-dropdown-content"></ul>
    </div>
    {% if (uUID or UID) %}
        <a class="logout" href="{{ docRoot }}logout">Logout</a>
    {% endif %}
    <section class="flex flex-col md:flex-row h-screen">
        <div class="bg-transparent flex w-full h-full md:w-1/2 xl:w-3/4 items-center justify-center">
            <div class="bg-logo bg-no-repeat bg-cover w-96 h-96 m-auto"></div>
        </div>
        <div class="bg-white w-full md:max-w-md lg:max-w-full md:mx-auto md:w-1/2 xl:w-1/4 h-screen px-6 lg:px-16 xl:px-12
                flex items-center justify-center">

            <div class="w-full h-100">
                <form class="mt-6" method="POST">
                    {% for error in login.errors %}
                        <div class="error">{{ error }}</div>
                    {% endfor %}
                    {% for success in login.success %}
                        <div class="success">{{ success }}</div>
                    {% endfor %}
                    {% if (uUID or UID) %}
                        {% set name, value, type, submitName = 'totp', totp, 'text', 'submit_totp' %}
                        {% set label = __('verification-code') %}
                        {% set invalidTxt = __('provide-valid-totp') %}
                        {% set submit = __('verify') %}
                    {% else %}
                        {% set name, value, type, submitName = 'email', email, 'email', 'submit_login' %}
                        {% set label = __('email-address') %}
                        {% set invalidTxt = __('provide-valid-email-address') %}
                        {% set submit = __('sign-in') %}
                    {% endif %}
                    <div>
                        <label class="block text-gray-700">{{ __('verification-code') }}</label>
                        <input type="{{ type }}" name="{{ name }}" id="totp" placeholder="{{ label }}"
                            class="peer w-full px-4 py-3 bg-gray-200 mt-2 border focus:border-black focus:bg-white focus:outline-none"
                            value="{{ value }}" autofocus autocomplete required />
                        <p class="mt-2 invisible peer-placeholder-shown:!invisible peer-invalid:visible text-pink-600 text-sm">
                            {{ invalidTxt }}
                        </p>
                    </div>
                    <input type="submit" name="{{ submitName }}" class="w-full block bg-black hover:bg-black focus:bg-black
                        text-white font-semibold px-4 py-3 mt-6" value="{{ submit }}" />
                </form>
                {% if not uUID and not UID %}
                    {# Fixing this later as an extension of login:
                    <hr class="my-6 border-gray-300 w-full">
                    <p class="mt-8">{{ __('need-an-account') }} <a href="#" class="text-gray-500 hover:text-gray-700 font-semibold">{{ __('create-an-account') }}</a>.</p>
                    #}
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="js/languageDropdown.js"></script>
    <script type="text/javascript">
      // Locales hard coded in languageDropdown, identical in keys to value pairs to make things work..
      setSelectedLocale(locales[{{ localeKey }}]);
    </script>
{% endblock %}
