<div>
    <label for="{{ name }}" class="block">{{ label }}</label>
    <input type="{{ type }}" name="{{ name }}" id="{{ name }}" placeholder="{{ label }}" value="{{ value }}" class="peer w-full px-4 py-3 mt-2 text-sm font-extrabold
        bg-gray-200 border border-gray-400 focus:bg-white focus:ring-black focus:border-black dark:bg-slate-800 dark:border-gray-600 dark:placeholder-gray-400
        dark:focus:bg-slate-900 dark:focus:ring-white dark:focus:border-gray-100" autofocus autocomplete="off" required />

    <p class="mt-2 invisible peer-placeholder-shown:!invisible peer-invalid:visible text-pink-600 text-sm">
        {{ invalidTxt }}
    </p>
</div>
