{% macro textInput(name, value, type, label, invalidTxt) %}
    <div>
        <label for="{{ name }}" class="block">{{ label }}</label>
        <input type="{{ type }}" name="{{ name }}" id="{{ name }}" placeholder="{{ label }}" value="{{ value }}" class="peer auth-input" autofocus autocomplete="off" required />

        <p class="mt-2 invisible peer-placeholder-shown:!invisible peer-invalid:visible text-pink-600 text-sm">
            {{ invalidTxt }}
        </p>
    </div>
{% endmacro %}

{% macro otpInput(name, value, type, label, totp = false) %}
    <label for="input[name=code[]]" class="block">{{ label }}</label>
    <div class="flex mt-2 mb-2 space-x-2 rtl:space-x-reverse text-gray-700 dark:text-gray-200">
        <div>
            <label for="code-1" class="sr-only">First digit</label>
            <input type="{{ type }}" name="{{ name }}[]" placeholder="{{ value[0] }}" maxlength="1" data-focus-input-init data-focus-input-next="code-2" id="code-1"
                class="otp-digit" {% if not totp %}autofocus{% endif %} autocomplete="off" required />
        </div>
        <div>
            <label for="code-2" class="sr-only">Second digit</label>
            <input type="{{ type }}" name="{{ name }}[]" placeholder="{{ value[1] }}" maxlength="1" data-focus-input-init data-focus-input-prev="code-1" data-focus-input-next="code-3" id="code-2"
                class="otp-digit" autocomplete="off" required />
        </div>
        <div>
            <label for="code-3" class="sr-only">Third digit</label>
            <input type="{{ type }}" name="{{ name }}[]" placeholder="{{ value[2] }}" maxlength="1" data-focus-input-init data-focus-input-prev="code-2" data-focus-input-next="code-4" id="code-3"
                class="otp-digit" autocomplete="off" required />
        </div>
        <div>
            <label for="code-4" class="sr-only">Fourth digit</label>
            <input type="{{ type }}" name="{{ name }}[]" placeholder="{{ value[3] }}" maxlength="1" data-focus-input-init data-focus-input-prev="code-3" data-focus-input-next="code-5" id="code-4"
                class="otp-digit" autocomplete="off" required />
        </div>
        <div>
            <label for="code-5" class="sr-only">Fifth digit</label>
            <input type="{{ type }}" name="{{ name }}[]" placeholder="{{ value[4] }}" maxlength="1" data-focus-input-init data-focus-input-prev="code-4" data-focus-input-next="code-6" id="code-5"
                class="otp-digit" autocomplete="off" required />
        </div>
        <div>
            <label for="code-6" class="sr-only">Sixth digit</label>
            <input type="{{ type }}" name="{{ name }}[]" placeholder="{{ value[5] }}" maxlength="1" data-focus-input-init data-focus-input-prev="code-5" id="code-6"
                class="otp-digit" {% if totp %}autofocus{% endif %} autocomplete="off" required />
        </div>
    </div>
{% endmacro %}

{% macro submitInput(name, value) %}
    <input type="submit" name="{{ name }}" class="btn-primary mt-6 block w-full px-4 py-3 hover:bg-black focus:bg-black dark:hover:bg-gray-200 dark:focus:bg-gray-200" value="{{ value }}" />
{% endmacro %}
